p {
    display: block;
    text-align: center;
    padding-top: 200px;
}
#bg-1 {
    display: block;
    background-color: antiquewhite;
    background: url(../images/vekeryk_background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}