body {
  font-family: Arial, Helvetica, sans-serif;
  background: url("../images/vector.jpg");
  background-color: #d3fde3;
  background-repeat: repeat;
	background-position:inherit;
	background-attachment: fixed;
	background-size: initial;
}
#container {
	background: black;
	width: 500px;
  height: 450px;
	color: white;
  padding-top: -30;
  padding: 15px;
  margin-top: -10px;
  margin-left: -10px;
}

h1 {
  margin: 0px;
  padding: 0px;
	font-size: 80px;
}

h2 {
  position: absolute;
	color: black;
	background: #74c1f6;
  padding: 5px;
  border-radius: 5px;
  margin-top: -105px;
  margin-left: 208px;
}

.logo {
  width: 64px;
  position: relative;
  bottom: 130px;
}

a {
  color: #74c1f6;
  text-decoration: none;
}

#keanu {
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 300px;
  margin-left: 200px;
  bottom: 90px;
}