html *, body {
    margin: 0px;
    padding: 0px;
}
header {
    margin: 0px;
    padding: 0px;
    height: 140px;
    clear: both;
}
header, footer, main figure {
    background-color: #63d471;
    background-image: linear-gradient(45deg, #218d2e 40%, #43835f 100%);
}
.logo {
    float: left;
    margin-top: 5px;
    margin-left: 20px;
}
.logo figure {
    perspective: 100px;
}
.logo img {
    margin-left: 6px;
    transform: scale3d(1, 1, 2) rotate3d(1, 1.5, 0, 20deg);
    padding: 2px;
} 
.logo p {
    position: relative;
    font-family: cursive;
    font-weight: bolder;
    color: white;
    left: -10px;
    margin: 0;
}
.contact {
    float: right;
}
input {
    margin-top: 10px;
    margin-right: 25px;
    float: right;
    border: 2px solid black;
    border-radius: 5px;
    caret-color: #008000;
    height: 20px;
    padding-left: 5px;
}
address, .number {
    font-family: sans-serif;
    font-style: unset;
    font-weight: 500;
    text-align: end;
    margin-right: 15px;
    margin-top: 5px;
    color: white;
    font-size: 16px;
}
address:before {
    content: "\2709";
    font-size: 18px;
    font-weight: bold;
}
.number:before {
    content: "\260E";
    font-weight: bold;
}
span {
    color: white;
    font-size: 18px;
}
nav {
    clear: both;
    position: relative;
    clear: both;
    justify-content: center;
    text-shadow: 5px 5px 12px black;
}
a {
    text-decoration: none;
    color: white;
}
nav ul {
    text-align: center;
    list-style-type: none;
    white-space: nowrap;
}
nav li {
    display: inline;
    font-size: 22px;
    font-family: monospace;
    color: white;
    margin-right: 30px;
}
nav li:hover {
    text-decoration: underline white;
    text-underline-position: under;
}

.intro {
    margin: 0 auto;
    width: 1000px;
    height: 170px;
    margin-top: 30px;
    border: black solid 2px;
    outline: green solid 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.intro p {
    margin-top: 15px;
    padding: 0;
    color: black;
    font-size: 24px;
    text-indent: 25px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
}
section {
    height: 700px;
}
section figure {
    float: left;
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
    width: 854px;
    height: 520px;
    caption-side: bottom;
    cursor: grab;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
section figcaption {
    position: relative;
    text-align: center;
    quotes: "«" "»" "‹" "›";
    color: white;
    font-size: 28px;
    font-family: Verdana;
    font-weight: bold;
    font-style: oblique;
    text-shadow: 5px 5px 12px black;
}
.first {
    margin-top: 30px;
} 
aside {
    float: left;
    height: 480px;
    width: 800px;
    margin-top: 70px;
    margin-left: 980px;
    resize: horizontal;
    overflow: auto;
}
aside h2 {
    text-align: center;
    color: black;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
aside p {
    color: black;
    font-size: 24px;
    text-indent: 25px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
article:hover mark {
    background: yellow;
    border: 2px dashed black;
}
mark {
    transition: background 1s ease-in-out 0.1s, border 0.3s linear;
    border: 2px dashed white;
    border-radius: 5px;
    background: white;
}
.support {
    padding: 10px;
    background-color: #63d471;
    background-image: linear-gradient(325deg, #218d2e 40%, #43835f 100%);
    color: #fff;
    overflow: hidden;
}
.support .title {
    margin: 15px;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 5px 5px 25px black;
}
.support_title {
    margin: 15px;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}
p.line {
    border-bottom: 1px solid;
    width: 150px;
    margin: 10px auto;
}
.support_wrap {
    max-width: 1100px;
    margin: 0 auto 40px;
    overflow: hidden;
}
.support .block {
    float: left;
    text-align: center;
    width: 33%;
    position: relative;
    top: 0;
    left: 0;
}
.support .block:hover img {
    transform: matrix(-1, 0, 0, 1, 0, 0) translateY(-15px);
    transform-origin: 50% 50%;
}
.block img {
    margin: 10px;
    transition: transform .3s linear 0s;
    cursor: grab;
}
.support .support_wrap a {
    color: #fff;
    text-decoration: none;
}
.description {
    font-size: 18px;
    text-decoration: 1px underline white;
    margin: 5px;
}
footer {
    margin: 0px;
    padding: 0px;
    height: 132px;
    clear: both;
}
.end {
    float: left;
    color: white;
    font-weight: bold;
    font-size: 120%;
    list-style-type: circle;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 100px;
    text-shadow: 5px 5px 12px black;
    cursor: help;
}
.end p {
    transform: matrix3d(0.683333, -0.091887, -0.59044, 0, 0.22022, 0.933333, 0.186887, 0, -0.623773, -0.52022, 0.583333, 0, 0, 0, 0, 1);
    position: relative;
    left: -20px;
    top: -5px;
}
.end li {
    list-style-type: none;
    cursor: alias;
}
.end li::before {
    content: "\2713 ";
}
.copyright {
    clear: both;
    color: #dfdfdf;
    text-align: end;
    margin-right: 20px;
    text-shadow: 5px 5px 12px black;
}