section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.carousel-control-prev-icon {
    background-image: url(../img/left-arrow.svg);
}
.carousel-control-next-icon {
    background-image: url(../img/next.svg);
}
.carousel-control-prev {
    left: -120px;
}
.carousel-control-next {
    right: -120px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 20px;
}
.carousel-inner img {
    min-height: 240px;
    min-width: 200px;
}
footer {
    height: 80px;
    background-color: #f8f9fa;
}
footer p {
    position: relative;
    top: 10px;
    margin: 20px;
    text-align: center;
}